{% extends "layout.html" %}

{% block title %}All Blogs{% endblock %}

{% block content %}

    <div class="mx-5 my-5 max-w-lg bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
       
        <a href="#">
            <img class="w-100 h-70 rounded-t-lg" src="{{blog.image.url}}" alt="blog image" />
        </a>   
        
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{ blog.title}}</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{blog.body}}</p>
        </div>
    </div>


{% endblock content %}