{% extends "layout.html" %}

{% block title %}My Blog{% endblock %}
{% block header %}{% endblock header %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 mt-5">
        <form method="post">
          {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    {% comment %} <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> {% endcomment %}
    <div class="form-group mt-2">
    <a href="{% url 'register_page' %}">don't have an account? Register here</a>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mt-3">Login</button>
      </div>
  </form>
</form>
</div>
</div>
</div>
{% endblock content %}